body,html { margin: 0; }
*
/* .top-bar {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-items: center;
  align-items: center;
  padding: 8px;
  
} */

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(8 46 80);
  color: white;
}

.bottom-bar.col {
  width: 100%;
}

.spacer {
  flex-shrink: 0;
  flex-grow: 1;
}

.img-wrapper {
  height: 100%;
}

.nav-bar {
  height: 60px;
  padding: 0 10px;
  background-color: rgb(8 46 80);
  color: white;
}

.nav-bar * :visited {
  color: rgb(255, 255, 255) !important;
}

.nav-bar img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.nav-bar .link-opt {
  padding: 10px;
}